<header>
    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <img src="images/logo.png">
            <p class="logo"> SoftUni Forum</p>
        </div>
        <div class="mini-navbar">
            <ul>
                @if(!isAuthenticated){
                <li>
                    <a href="#" (click)="login()">Login</a>
                </li>
                <li>
                    <a href="#" (click)="login()">Register</a>
                </li>
                }@else{
                <li>
                    <a href="#" (click)="logout()">Logout</a>
                </li>
                }
            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Themes</a>
            </li>
            <li>
                <a href="#">New Theme</a>
            </li>
        </ul>
    </nav>

</header>