<div class="container">
    <form class="login" [formGroup]="loginForm" (ngSubmit)="onLogin()">

        <fieldset>
            <h2>Login Form</h2>

            <p class="field field-icon">
                <label for="email"><span><i class="fas fa-envelope"></i></span></label>
                <input [class]="isInvalidEmail?'input-error':''" type="email" name="email" id="email"
                    placeholder="john.doe@gmail.com" formControlName="email">
            </p>

            @if(loginForm.get("email")?.touched){
            <div>
                @if(loginForm.get("email")?.errors?.["required"]){
                <p class="error">Email is required!</p>
                }
                @if(loginForm.get("email")?.errors?.["pattern"]){
                <p class="error">Email is not valid!</p>
                }
            </div>
            }
            <p class="field field-icon">
                <label for="password"><span><i class="fas fa-lock"></i></span></label>
                <input [class]="isInvalidPassword?'input-error':''" type="password" name="password" id="password"
                    placeholder="******" formControlName="password">
            </p>
            @if(loginForm.get("password")?.touched){
            <div>
                @if(loginForm.get("password")?.errors?.["required"]){
                <p class="error">Password is required!</p>
                }
                @if(loginForm.get("password")?.errors?.["minlength"]){
                <p class="error">Password must be at least 5 symbols long!</p>
                }
            </div>
            }
            <button [disabled]="loginForm.invalid">Login</button>

            <p class="text-center">
                Have an account?
                <a routerLink="/register">Register</a>
            </p>

        </fieldset>
    </form>
</div>